@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="es-ar">
    <meta charset="UTF-8">
    <title>Latin CMS - Login</title>
    <link rel="stylesheet" href="Content/bootstrap.css" />
</head>
<body>
    <div class="container" style="width: 400px;margin-top: 50px">
        <fieldset class="login">
            <legend>Login</legend>
            <form action='@Url.Action("Index", "Login")' method="POST" id="formulario" class="form-signin">
                <h2 class="form-signin-heading">Ingrese</h2>

                <div class="control-group">
                    <label class="control-label">Usuario:</label>
                    <div class="controls">
                        <input type="text" name="usuario" id="usuario" placeholder="Usuario" class="form-control" required autofocus>
                    </div>
                    <br />
                </div>
                <div class="control-group">
                    <label class="control-label">Contraseña:</label>
                    <div class="controls">
                        <input type="password" name="password" id="password" placeholder="Contraseña" class="form-control" required autofocus>
                    </div>
                    <br />
                </div>
                <div class="control-group">
                    <input type="submit" value="Ingresar" class="btn btn-lg btn-primary btn-block">
                </div>
                <p style="margin-top: 10px">
                    <a href='@Url.Action("Index", "Signup")'>Registrarse</a>
                </p>
            </form>
        </fieldset>
    </div>
    <script src="~/Scripts/bootstrap.min.js" type="javascript"></script>
</body>
</html>