@{
    ViewBag.Title = "Index";
}

<head lang="en">
    <meta charset="UTF-8">
    <title>Latin CMS</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <div class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="/LatinCMS/admin.html">Administrar</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    Alejandro
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Usuario</a></li>
                    <li><a href="#">Editar Perfil</a></li>
                    <li><a href="/LatinCMS/login.html">Cerrar Sesion</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="container">
        <h1>Titulo</h1>
        <h4>La descripcion del sitio va aqui</h4>

        <div class="post">
            <h1>Titulo del Post</h1>
            <p>
                Texto del post. Texto del post. Texto del post. Texto del post. Texto del post. Texto del post.
                Texto del post. Texto del post. Texto del post. Texto del post. Texto del post. Texto del post.
                Texto del post. Texto del post. Texto del post. Texto del post. Texto del post. Texto del post.
                Texto del post. Texto del post. Texto del post. Texto del post. Texto del post. Texto del post.
                Texto del post. Texto del post. Texto del post. Texto del post. Texto del post. Texto del post.
                Texto del post. Texto del post. Texto del post. Texto del post. Texto del post. Texto del post.
            </p>
            <h5>13/05/2015 10:00 hs</h5>
            <h6>Comentarios:</h6>
            <textarea class="form-control"></textarea>
            <button class="btn btn-primary">Publicar</button>
        </div>
        <div class="comentarios-container">
            <div class="comentario">
                <h3>Usuario</h3>
                <p>
                    Texto del Comentario. Texto del Comentario.Texto del Comentario.Texto del Comentario.
                    Texto del Comentario.Texto del Comentario.Texto del Comentario.Texto del Comentario.
                    Texto del Comentario.Texto del Comentario.Texto del Comentario.Texto del Comentario.
                    Texto del Comentario.Texto del Comentario.Texto del Comentario.Texto del Comentario.
                    Texto del Comentario.Texto del Comentario.Texto del Comentario.Texto del Comentario.
                </p>
                <h5>11/05/2015 22:00 hs</h5>
            </div>
            <div class="comentario">
                <h3>Usuario</h3>
                <p>
                    Texto del Comentario. Texto del Comentario.Texto del Comentario.Texto del Comentario.
                    Texto del Comentario.Texto del Comentario.Texto del Comentario.Texto del Comentario.
                    Texto del Comentario.Texto del Comentario.Texto del Comentario.Texto del Comentario.
                    Texto del Comentario.Texto del Comentario.Texto del Comentario.Texto del Comentario.
                    Texto del Comentario.Texto del Comentario.Texto del Comentario.Texto del Comentario.
                </p>
                <h5>11/05/2015 22:00 hs</h5>
            </div>
            <div class="comentario">
                <h3>Usuario</h3>
                <p>
                    Texto del Comentario. Texto del Comentario.Texto del Comentario.Texto del Comentario.
                    Texto del Comentario.Texto del Comentario.Texto del Comentario.Texto del Comentario.
                    Texto del Comentario.Texto del Comentario.Texto del Comentario.Texto del Comentario.
                    Texto del Comentario.Texto del Comentario.Texto del Comentario.Texto del Comentario.
                    Texto del Comentario.Texto del Comentario.Texto del Comentario.Texto del Comentario.
                </p>
                <h5>11/05/2015 22:00 hs</h5>
            </div>
        </div>
    </div>
    <script src="js/bootstrap.min.js" type="javascript"></script>
</body>
</html>