@{
    ViewBag.Title = "Admin";
}

<!DOCTYPE html>

<html>
<head lang="es-ar">
    <meta charset="UTF-8">
    <title>Latin CMS - Home</title>
    <link rel="stylesheet" href="Content/bootstrap.css" />
</head>
<body>
    <div>
        <br />
        <h2>Admin</h2>

        <h1>Titulo Home</h1>
        <br /><br />
        <h2>POST</h2>
        <br />
        <h2>POST</h2>
        <br />
        <h2>POST</h2>
        <br />
        <h2>POST</h2>
        <br />
        <h1 style="color: green">@ViewBag.TipoUsuario</h1>
        <h1 style="color: red">@ViewBag.Apodo</h1>

    </div>

</body>
</html>
