@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head lang="es-ar">
    <meta charset="UTF-8">
    <title>Latin CMS - Home</title>
    <link rel="stylesheet" href="Content/bootstrap.css" />
</head>
<body>
    <div>
        <br />
        <h1>Titulo Home</h1>
        <br /><br />
        <h2>POST</h2>
        <br />
        <h2>POST</h2>
        <br />
        <h2>POST</h2>
        <br />
        <h2>POST</h2>
        <br />        
    </div>

</body>
</html>
