#titulo-home {
    color: #000;
    line-height: 1.75rem;
    font-weight: 700;
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    letter-spacing: .01em;
    word-spacing: -0.1em;
}

#descripcion-home {
    color: #4D4B4B;
    font-weight: 700;
    font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
}

.titulo-post {
    color: #337ab7;
    font-size: 2rem;
    line-height: 1.75rem;
    font-weight: 700;
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    letter-spacing: .01em;
    word-spacing: -0.1em;
}

.descripcion-post {
    color: #000;
    font-weight: 700;
    font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
    text-align: justify;
}

.fecha-post {
    line-height: 0.75rem;
    font-weight: 400;
    font-family: georgia,"times new roman",times,serif;
    color: #999;
    margin: 4px 0 1px;
    text-align: right;
}

.post{
    background-color: #F9F8C1;
    margin: 12px;
    border: 5px;
    margin-right: 140px;
    padding: 8px;
    width: 80%;
}

.usuario-coment {
    color: #337ab7;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 700;
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    letter-spacing: .01em;
    word-spacing: -0.1em;
}

.descripcion-coment {
    color: #000;
    font-weight: 700;
    font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
    text-align: justify;
}

.fecha-coment {
    line-height: 0.7rem;
    font-weight: 400;
    font-family: georgia,"times new roman",times,serif;
    color: #999;
    margin: 4px 0 1px;
    text-align: left;
}

a.mesColor:hover {
    cursor: pointer;
    text-decoration: none;
}

a.tituloPostColor {
    color: olive;
    text-decoration: none;
    font-size: smaller;
}

li.tituloPostColor{
    color: olive;
    font-size: smaller;
}

.post_post{
    background-color: #F9F8C1;
    margin: 12px;
    border: 5px;
    margin-right: 140px;
    padding: 8px;
    width: 95%;
}

.comentario{
    padding: 20px;
    text-align: justify;
    width: 95%;
}